.rowWrapper {
	display: flex;
	gap: var(--large-pad);
}
.colWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--small-pad);
}
.colWrapper span {
	color: var(--gray);
} 
.imgWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	border-radius: var(--xlarge-pad); 
	max-width: 100px;
	width: 100%;
	min-height: 100px;
	max-height: 100px;
}
.imgWrapper img{
	object-fit: contain;
	width: 100%;
	border-radius: var(--xlarge-pad); 
}