.wrapper {
	display: flex;
	flex-direction: column;
	cursor: pointer;
} 
.imgWrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	border-radius: var(--xlarge-pad);
	padding: var(--xxhuge-pad) var(--regular-pad);
	max-width: 300px;
	width: 100%;
	box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.01);
	min-height: 350px;
	max-height: 350px;
}
.imgWrapper img{
	object-fit: contain;
	width: 100%;
}
.titleWrapper {
	display: flex;
	flex-direction: column;
	padding: var(--medium-pad);
}
.titleWrapper h5 {
	color: var(--green);
}
.titleWrapper p {
	font-weight: 500;
}
.imgWrapper svg path {
	stroke: var(--gray)
}
.rowContainer {
	display: flex;
	align-items: center;
	gap: var(--medium-pad);
} 
.ratingContainer {
	display: flex;
	align-items: center;
	gap: var(--small-pad);
	color: var(--gray);
}