
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
.wrapper h1 {
	margin: 0 0 var(--xxlarge-pad) 0;
	background: #99A06C;
	background: linear-gradient(to top right, #99A06C 19%, #DEA345 59%, #F6E2C1 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}
.wrapper button {
	padding: var(--large-pad) var(--xhuge-pad);
	border-radius: var(--large-pad);
	font-size: var(--medium-font);
	color: var(--black);
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--large-pad);
}
.imageContainer {
	height: var(--xxxlarge-pad);
	width: var(--xxxlarge-pad);
	background-image: url('../../../../assets//images/google.png');
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
}